[package]
name = "project"
version = "0.1.0"
edition = "2024"

[dependencies]
crossterm = "0.29.0"
rand = "0.9.2"
ratatui = "0.29.0"
tokio = { version = "1.48.0", features = ["full"] }
# opencv = "0.97.2"
